/* Color Palette */
:root {
  --color-logo: #c47b57;
  --color-primary: rgb(80, 80, 80);
  --color-secondary: #f1eeed;
  --color-accent: #404040;
  --color-border: rgba(0, 0, 0, 0.2);
  --color-border-textarea: rgba(0, 0, 0, 0.1);
  --color-border-bottom: #6a6a6a;
  --color-button-hover: #dddbda;
  --color-hlines: rgb(255, 255, 255);
  --color-footer: rgb(50, 50, 50);
  --color-footer-hlines: rgb(110, 110, 110);
  --color-copywright: rgb(120, 120, 120);
  --color-diamesolavisi: rgba(28, 27, 96, 0.1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-primary);
}

h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3rem;
}
h3,
h4 {
  font-size: 2rem;
}
p,
span {
  font-size: 1.6rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  p,
  span {
    font-size: 1.8rem;
  }
}
li {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
button.btn-sort {
  background-color: white;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.8rem;
  }
}

/* Horizontal lines with icon */
.hr {
  position: relative;
  border-top: 1px solid lightgray;
  margin: 10rem 5rem;
  transform: translate(0, 50%);
}
.hr img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  padding: 1rem;
}

.section-header {
  display: flex;
  justify-content: center;
  margin: 0 auto 3rem;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1000;
  font-size: 2rem;
}

.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navbar__header h1 {
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  color: black;
}
.navbar__header a {
  color: black;
  text-decoration: none;
  margin: 0;
}
.navbar__header #menu-toggle {
  padding-top: 0.7rem;
}

.navbar__ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  list-style: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.navbar__ul.open {
  opacity: 1;
  max-height: 50rem;
  margin-bottom: 1rem;
}

.navbar__ul a {
  color: #282828;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar__ul a:hover {
  color: #ff3e3e;
}

@media screen and (min-width: 760px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar__header {
    display: flex;
  }
  #menu-toggle {
    display: none;
  }

  .navbar__ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    opacity: 1;
    max-height: none;
    height: auto;
  }
  .navbar__ul li {
    padding: 0 0.5rem;
    margin: 0 auto;
  }
  .navbar__ul a {
    font-size: 1.8rem;
  }
  .menu {
    opacity: 0;
  }
}
@media screen and (min-width: 880px) {
  .navbar__ul a {
    font-size: 2rem;
  }
  .navbar__ul li {
    padding: 0 1rem;
  }
}

section[id] {
  position: relative;
}

section[id]::before {
  content: "";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

/* Section: Hero */
.hero-container {
  width: auto;
  height: 100vh;
  background-image: url(../images/heroA.webp);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #feedd8;
  /* filter: sepia(0.8) saturate(1.2) hue-rotate(-30deg); */
}
/* Dark glass overlay */
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.hero-container h1 {
  width: 100%;
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  z-index: 999;
}
@media screen and (min-width: 600px) {
  .hero-container {
    background-image: url(../images/hero.webp);
  }

  .hero-container h1 {
    font-size: 9rem;
  }
}

/* People */
.people-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  /* padding: 6rem; */
  max-width: 120rem;
  width: 100%;
  margin: 0 auto 4rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
  margin: 2rem auto;
}
@media screen and (min-width: 800px) {
  .people {
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
  }
}
.people p {
  margin-top: 0.5rem;
  text-align: center;
}

.person {
  display: block;
  background-color: #c47b57;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin: 0 auto;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  justify-items: center;
  gap: 1rem;
  background-color: #f1f1f1;
  padding: 2rem;
}
@media screen and (min-width: 1200px) {
  .cards {
    padding: 10rem;
  }
}

.card {
  display: grid;
  /* grid-template-rows: subgrid;
  grid-row: span 3; */
  grid-template-rows: auto 1fr auto;
  max-width: 40rem;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}
.card.date img {
  border: #c8c8c8 1px solid;
}

/* Map */
.map-container {
  border: #d6fffc 20px solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1rem;
}
.map-container img {
  width: 100%;
  display: block;
}
.map iframe {
  width: 100%;
  height: 40rem;
}
@media screen and (min-width: 768px) {
  .map-container {
    display: grid;
    grid-template-columns: minmax(0, 34%) minmax(0, 66%);
    width: 100%;
    gap: 0.5rem;
  }
  .map-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  .map {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .map iframe {
    width: 100%;
    height: 100%;
  }
}

/* Video */
.video {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Submit */
.submit {
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 0.5) 0%,
    rgba(253, 187, 45, 0.5) 60%
  );
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 4rem auto;
}

.submit h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  color: #d36e70;
  margin-bottom: 20px;
}

.submit .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.submit .form-group label {
  display: flex;
  min-width: 60px;
  width: 100%;
  text-align: left;
  /* padding-right: 10px; */
  color: #333;
}

.submit .form-group input {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #d36e70;
}

.submit .toggle-container {
  /* flex: 2; */
  display: flex;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.submit .toggle-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submit label.toggle {
  display: inline-block;
  min-width: 56px;
  width: 56px;
  height: 30px;
  position: relative;
  /* margin-left: 10px; */
  cursor: pointer;
}

.toggle-container {
  justify-content: space-between;
}

.submit .toggle input {
  display: none;
}

.submit .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 15px;
  transition: 0.4s;
}

.submit .toggle .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.submit .toggle input:checked + .slider {
  background-color: #d36e70;
}

.submit .toggle input:checked + .slider:before {
  transform: translateX(26px);
}

.submit .slider {
  max-width: 60px;
}

.submit button {
  background-color: #d36e70;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.submit button:hover {
  background-color: #c5595b;
}

.submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}

@media (max-width: 600px) {
  .submit .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .submit .form-group label {
    margin-bottom: 5px;
    padding-right: 0;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 70rem;
  position: relative;
  background-image: url("../images/beach.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  font-weight: 500;
}

/* Collapsibles */
.collapsible {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  opacity: 0.6;
  color: rgb(40, 40, 40);
  border-radius: 0.5rem;
  max-width: 80rem;
  width: 100%;
}

.collapsible__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.collapsible__header h4 {
  font-size: 2.2rem;
}
.collapsible__header .collapsible__heading {
  font-weight: 400;
}

.collapsible__icon {
  transform: rotate(0deg);
  transition: transform 0.3s;
  border: 1px solid lightgray;
  border-radius: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 2.6rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  font-size: 6rem;
  font-weight: 300;
}
.collapsible__content li {
  font-size: 1.8rem;
  font-weight: 300;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(90deg);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
.collapsible--expanded .collapsible__header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .collapsible {
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
  }

  .collapsible__icon {
    display: none;
  }

  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}

.copyright {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  bottom: 1rem;
  align-self: center;
  color: var(--color-copywright);
  font-size: 1.4rem;
  font-weight: 400;
}
